body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(223, 223, 223);
}

input[type=checkbox] {
    width: 0;
    height: 0;
    visibility: hidden;
}
label{
    position: relative;
    width: 120px;
    height: 40px;
    background: gray;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
    display: block;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.199),
                -8px -8px 11px white;
}
label::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    top: 5px;
    left: 15px;
}

input:checked + label{
    background: linear-gradient(to left,rgb(0, 217, 255),rgb(195, 0, 255));
}

input:checked + label::after{
    left: calc(100% - 15px);
    transform: translateX(-100%);
    box-shadow: -8px 0px 12px -5px rgba(0, 0, 0, 0.315);
}